@import 'variables';
@import 'vendor/_typeahead';
@import 'components/_components';

#weather-wrapper {
  position: fixed;
  min-height: 100%;
  margin: 0;
  width: 100%;
  background-size: cover;
}

#weather-container {
  padding: 40px 210px;
}

html, body {
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande";
  font-weight: 100;
  background-color: $blue-900;
  letter-spacing: 0.1em;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}