.weatherReport {
  min-width: 800px;

  h2 {
    padding: 10px 10px 10px 0;
    color: $white;
    font-size: 300%;
    text-shadow: 1px 1px 0 $shadow;
  }
}

.weatherReport-day {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 120px;
  margin: 10px 10px 0 0;
  vertical-align: top;
  background-color: $blue-50;
  box-shadow: 0 0 2px $shadow;
}

.weatherReport-percipitation {
  position: absolute;
  bottom: 0;
  background-color: $blue-500;
  opacity: 0.8;
  width: 100%;
  height: 0;

  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  transition: all 500ms;
}

.weatherReport-sunnyPercent {
  margin: 5px 0;
  color: $white;
}

.weatherReport-date {
  position: relative;
  z-index: 2;
  background-color: $grey-900;
  color: $white;
  padding: 5px;
  font-size: 0.6em;
  text-align: center;
}

.weatherReport-info {
  position: absolute;
  top: 40%;
  width: 100%;
  margin-top: -0.8em;
  z-index: 1;
}

.weatherReport-icon {
  font-size: 2em;
  text-align: center;
}

.weatherReport-temprature {
  font-size: 1.6em;
  text-align: center;
  margin-top: 5px;
  margin-left: 4px;
}