.weatherReport {

}

.weatherReport-day {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  width: 100px;
  height: 120px;
  margin: 10px 10px 0 0;
  vertical-align: top;
}

.weatherReport-percipitation {
  position: absolute;
  bottom: 0;
  background-color: blue;
  opacity: 0.8;
  width: 100%;
  height: 0;

  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  transition: all 500ms;
}